<mat-toolbar color="primary">
  <span>Art Gallery Store</span>
  <div class="spacer"></div>
  <button mat-button routerLink="/">Home</button>
  <ng-container *ngIf="adminPage; else userNav">
    <!-- Admin Panel Navigation -->
    <button mat-button routerLink="admin/products">Products</button>
    <button mat-button routerLink="admin/customers">Customers</button>
    <button mat-button routerLink="admin/orders">Orders</button>
  </ng-container>

  <ng-template #userNav>
    <!-- User Navigation -->
    <!-- Cart Button: Show only for authenticated users -->
    <button mat-button routerLink="/cart" *ngIf="authUser && !hideCartAndOrdersButtons">
      <mat-icon>shopping_cart</mat-icon>
      Cart
      <span class="cart-badge" *ngIf="cartItemCount !== null && cartItemCount > 0">{{ cartItemCount }}</span>
    </button>
    <button mat-button routerLink="/my-profile" *ngIf="authUser && !hideCartAndOrdersButtons">
      My profile
    </button>
    <!-- My Orders Button: Show only for authenticated users -->
    <button mat-button routerLink="/my-orders" *ngIf="authUser && !hideCartAndOrdersButtons">
      My Orders
    </button>
  </ng-template>



  <div class="spacer"></div>
  <button mat-button *ngIf="isAdmin" routerLink="/admin">Admin Panel</button>

  <ng-container *ngIf="isLoggedIn; else loginButtons">
    <span>{{ getUserDisplayName() }}!</span>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  <ng-template #loginButtons>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
  </ng-template>
</mat-toolbar>

